@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #a4a4a4;
}
* {
    font-family: "Yusei Magic", sans-serif;
    font-weight: 500;
    font-style: normal;
}
h1 {
    text-align: center;
}
main {
    width: 100%;
    margin-bottom: 5vh;
    border-top: 2px dashed #000;
    border-bottom: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    transition: 0.3s;
    background-color: #59bddb;
    margin: 6px;
    font-size:xx-large;
    user-select: none;
}
button:active {
    border-radius: 100px;
    box-shadow: #346f81 5px 5px 10px;
}
#statusbar {
    border: 1px dashed #000;
    margin-top: 5vh; 
    width: max-content;
    margin: auto;
    padding-left: 10vw;
    padding-right: 10vw;
    min-width: 10vw;
    max-width: 100vw;
    font-size: x-large;
    height: 30vh;
    overflow-y: auto;
    background-color: #8e8e8e;
    border-radius: 20px;
    box-shadow: 3px 5px 8px 0px rgba(208, 90, 90, 0.55);
}
button.jsclick {
    border-radius: 100px;
    box-shadow: #346f81 5px 5px 10px;
}
footer {
    text-align: center;
}

button[data-type="stop"] {
    background-color: #db5959;
}

#hint {
    opacity: 0.3;
    position: sticky;
    bottom: 0;
    right:0;
}
#clearlog {
    width: max-content;
    height: max-content;
    font-size: medium;
    background: none;
}
@media (max-width: 425px) {
    button {
        width: max-content;
        height: 50px;
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }   
    main {
        display: block;
    }
    #hint {
        display: none;
    }
}