@import url('https://fonts.googleapis.com/css2?family=Bungee&family=WDXL+Lubrifont+JP+N&display=swap');


body {
    margin: 0;
    padding: 0;
    background-color: #a4a4a4;
}
* {
  font-family: "WDXL Lubrifont JP N", "Bungee", sans-serif;
  font-weight: 500;
  font-style: normal;
}
h1 {
    text-align: center;
}
main {
    width: 100%;
    margin-bottom: 10vh;
    border-top: 2px dashed #000;
    border-bottom: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    width: 150px;
    height: 150px;
    border-radius: 30px;
    transition: 0.3s;
    background-color: #59bddb;
    margin: 6px;
    font-size:xx-large;
}
button:active {
    border-radius: 100px;
    box-shadow: #346f81 5px 5px 10px;
}
#statusbar {
    border: 1px dashed #000;
    margin-top: 5vh; 
    width: max-content;
    margin: auto;
    padding-left: 10vw;
    padding-right: 10vw;
    max-width: 100vw;
    font-size: x-large;
}
button.jsclick {
    border-radius: 100px;
    box-shadow: #346f81 5px 5px 10px;
}
footer {
    text-align: center;
}

button[data-type="stop"] {
    background-color: #db5959;
}